* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background-color: #fff4f0;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: #ffd7c7;
    font-family: 'Dancing Script', cursive, Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 15px;
    margin: 0 5px 5px 5px;
}

header h1 {
    display: inline;
    font-size: 60px;
}

nav ul {
    margin: 0;
    padding: 0 0 0 15px;
    display: inline;
}

nav ul li {
    background: #ffc4ad;
    list-style-type: none;
    display: inline-block;
    padding: 15px 25px;
    font-size: 18px;
}

nav ul li a {
    color: black;
}

hr {
    color: darkgray;
}

.responsive {
    width: 100%;
    height: auto;
}

.grid {
    margin: auto;
    max-width: 1200px;
    width: 100%;
}

.row {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
}

[class*="col-"] {
    float: left;
    padding: 15px;
}

.col-2 {
    width: 16.66%;
    text-align: center;
    float: right;
    border-style: solid;
    border-width: .5px;
    border-color: darkgray;
    
}

.col-2 h3 {
    font-family: 'Dancing Script', cursive, Arial, Helvetica, sans-serif;
    font-size: 35px;
    margin: 10px;
}


.col-10 {
    width: 83.33%;
    
}

.col-10 h2 {
    font-family: 'Dancing Script', cursive, Arial, Helvetica, sans-serif;
    font-size: 45px;
}


.col-4 {
    width: 33.33%;
    padding: 5px;
}

.col-12 {
    width: 100%;
    display: inline;
}

footer {
    text-align: center;
}